h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_549e4baf a { text-decoration: none; }
#menu_549e4baf_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_549e4baf_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_549e4baf_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_549e4baf_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_549e4baf_entry:hover span { color:#FFFFFF !important; }
		.menu_549e4baf_mainMenuEntry { text-align: center; }
		.menu_549e4baf_mainMenuEntry:hover {	background-color:#282828; }
		.menu_549e4baf_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_549e4baf .mobileEntry { display: none; } 
		#menu_549e4baf .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_549e4baf .mobileEntry { display: block; } 
			#menu_549e4baf .normalEntry { display: none; } 
		}
#menu_1fe9d46c a { text-decoration: none; }
#menu_1fe9d46c_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1fe9d46c_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_1fe9d46c_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1fe9d46c_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1fe9d46c_entry:hover span { color:#FFFFFF !important; }
		.menu_1fe9d46c_mainMenuEntry { text-align: center; }
		.menu_1fe9d46c_mainMenuEntry:hover {	background-color:#282828; }
		.menu_1fe9d46c_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_1fe9d46c .mobileEntry { display: none; } 
		#menu_1fe9d46c .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_1fe9d46c .mobileEntry { display: block; } 
			#menu_1fe9d46c .normalEntry { display: none; } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6a11e94 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#FFFFFF;  }
.textstyle2 { text-align:left; }
#container_42787e73 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:148px; background-color:#FFFFFF;  }
#container_42787e73_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_746fb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:99px; background:none;  }
#container_746fb_padding { margin: 10px; display: block;  }
#container_4be99fd { vertical-align: top; position:relative; display: inline-block; width:8%; min-height:85px; background:none;  }
#container_4be99fd_padding { margin: 10px; display: block;  }
#img_5b96fe84 { vertical-align: bottom; position:relative; display: inline-block; width:110%; background:none; height:auto;  }
#container_7d6eadac { vertical-align: top; position:relative; display: inline-block; width:92%; min-height:66px; background:none;  }
#container_7d6eadac_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_549e4baf { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:17%; height:44px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:44px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:78px; height:44px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:74px; height:44px; left:88px;  }
#container_66074cc0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:97px; background-color:#A000EA;  }
#container_66074cc0_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:40pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
#container_75a96666 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1005px; background-color:#FFFFFF;  }
#container_75a96666_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_3ee42e34 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:393px; background-color:#F3F3F5;  }
#container_3ee42e34_padding { margin: 10px; display: block;  }
#container_23e78b93 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_23e78b93_padding { margin: 10px; display: block;  }
#container_21012002 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_21012002_padding { margin: 10px; display: block;  }
#heading_13002dc2 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
#heading_733ed3e1 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#heading_6f9f4d4b { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_33ccfd27 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_33ccfd27_padding { margin: 10px; display: block;  }
#img_94cf1da { vertical-align: bottom; position:relative; display: inline-block; width:97%; background:none; height:auto;  }
#container_66882640 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:186px; background:none;  }
#container_66882640_padding { margin: 10px; display: block;  }
#container_5aa64af4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5aa64af4_padding { margin: 10px; display: block;  }
#container_92f8692 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_92f8692_padding { margin: 10px; display: block;  }
#img_63cd1fee { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none; height:auto;  }
#container_3a226f88 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_3a226f88_padding { margin: 10px; display: block;  }
#heading_701050d3 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle9 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#container_78caf3bd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:144px; background-color:#F3F3F5;  }
#container_78caf3bd_padding { margin: 10px; display: block;  }
#container_63e95b3a { vertical-align: top; position:relative; display: inline-block; width:68%; min-height:89px; max-width:800px; background:none;  }
#container_63e95b3a_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
#container_18351861 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:99px; background:none;  }
#container_18351861_padding { margin: 10px; display: block;  }
#container_57c4570b { vertical-align: top; position:relative; display: inline-block; width:8%; min-height:85px; background:none;  }
#container_57c4570b_padding { margin: 10px; display: block;  }
#img_e5ddc34 { vertical-align: bottom; position:relative; display: inline-block; width:110%; background:none; height:auto;  }
#container_1f6f53af { vertical-align: top; position:relative; display: inline-block; width:92%; min-height:66px; background:none;  }
#container_1f6f53af_padding { margin: 10px; display: block;  }
#menu_1fe9d46c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:17%; height:44px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
@media only screen and (max-width: 400px)
{
		#container_4be99fd { width:100%;  }
		#container_7d6eadac { width:100%;  }
		#container_21012002 { width:100%;  }
		#container_33ccfd27 { width:100%;  }
		#container_92f8692 { width:100%;  }
		#container_3a226f88 { width:100%;  }
		#container_57c4570b { width:100%;  }
		#container_1f6f53af { width:100%;  }
}
