a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3cd59a72 a { text-decoration: none; }
#menu_3cd59a72_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3cd59a72_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_3cd59a72_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3cd59a72_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3cd59a72_entry:hover span { color:#FFFFFF !important; }
		.menu_3cd59a72_mainMenuEntry { text-align: center; }
		.menu_3cd59a72_mainMenuEntry:hover {	background-color:#282828; }
		.menu_3cd59a72_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3cd59a72 .mobileEntry { display: none; } 
		#menu_3cd59a72 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_3cd59a72 .mobileEntry { display: block; } 
			#menu_3cd59a72 .normalEntry { display: none; } 
		}
#button_4e2dc648 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#A000EA;  }
#button_4e2dc648:hover { background-color:#998181;  }
#button_4e2dc648:hover span { color:#FFFFFF; }
#button_5a3d431b { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#A000EA;  }
#button_5a3d431b:hover { background-color:#998181;  }
#button_5a3d431b:hover span { color:#FFFFFF; }
#button_34839493 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#A000EA;  }
#button_34839493:hover { background-color:#998181;  }
#button_34839493:hover span { color:#FFFFFF; }
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_a8bef60 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#FFFFFF;  }
.textstyle2 { text-align:left; }
#container_29ee7549 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:126px; background-color:#FFFFFF;  }
#container_29ee7549_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_58e5cd38 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:99px; background:none;  }
#container_58e5cd38_padding { margin: 10px; display: block;  }
#container_101b899d { vertical-align: top; position:relative; display: inline-block; width:8%; min-height:85px; background:none;  }
#container_101b899d_padding { margin: 10px; display: block;  }
#img_a846825 { vertical-align: bottom; position:relative; display: inline-block; width:110%; background:none; height:auto;  }
#container_3e86ccdb { vertical-align: top; position:relative; display: inline-block; width:92%; min-height:66px; background:none;  }
#container_3e86ccdb_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_3cd59a72 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:17%; height:44px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:44px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:78px; height:44px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:74px; height:44px; left:88px;  }
#container_6385801d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:90px; background-color:#A000EA;  }
#container_6385801d_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:32pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
#container_438337b7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:232px; background-color:#F3F3F5;  }
#container_438337b7_padding { margin: 10px; display: block;  }
#container_ea3b47e { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:92px; background:none;  }
#container_ea3b47e_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_7912be8c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7912be8c_padding { margin: 10px; display: block;  }
#container_780a4201 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_780a4201_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:22pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_552b321a { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_552b321a_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#374459;  }
#container_6b4db2e2 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:30%; min-height:158px; background-color:#FFFFFF;  }
#container_6b4db2e2_padding { margin: 10px; display: block;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:972px; background-color:#FFFFFF;  }
#container_77363bda_padding { margin: 10px; display: block;  }
#container_efa682 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:195px; background:none;  }
#container_efa682_padding { margin: 10px; display: block;  }
#container_4d3010c9 { vertical-align: top; position:relative; display: inline-block; width:49%; min-height:404px; background:none;  }
#container_4d3010c9_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6933d5ab { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_6933d5ab_padding { margin: 10px; display: block;  }
#img_2238b7f8 { vertical-align: bottom; position:relative; display: inline-block; width:93%; background:none; height:auto;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_5ab47418 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5ab47418_padding { margin: 10px; display: block;  }
#container_5413056b { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5413056b_padding { margin: 10px; display: block;  }
#img_48ef720e { vertical-align: bottom; position:relative; display: inline-block; width:75%; background:none; height:auto;  }
#container_5bfa6758 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5bfa6758_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:173px; background-color:#F3F3F5;  }
#container_433edc8a_padding { margin: 10px; display: block;  }
#container_7dbed0a6 { vertical-align: top; position:relative; display: inline-block; width:68%; min-height:89px; max-width:800px; background:none;  }
#container_7dbed0a6_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
@media only screen and (max-width: 600px)
{
		#container_780a4201 { width:100%;  }
		#container_552b321a { width:100%;  }
		#container_6b4db2e2 { width:100%;  }
}
@media only screen and (max-width: 400px)
{
		#container_101b899d { width:100%;  }
		#container_3e86ccdb { width:100%;  }
		#container_4d3010c9 { width:100%;  }
		#container_6933d5ab { width:100%;  }
		#container_5413056b { width:100%;  }
		#container_5bfa6758 { width:100%;  }
}
